{
  "Server": {
    "SelectedServerTypeValue": "MultiplayerServerListSessionType_RANKED",
    "SelectedTuningTypeValue": "TuningAllowed",
    "ServerName": "Mon Serveur ACE EVO",
    "MaxPlayers": 20,
    "MaxPlayersLimit": 32,
    "TcpPort": 9700,
    "UdpPort": 9700,
    "HttpPort": 8081,
    "IsCycleEnabled": true,
    "DriverPassword": "",
    "SpectatorPassword": "",
    "AdminPassword": "",
    "EntryListUrl": "",
    "ResultsPostUrl": "http://panel:4300/api/results/ingest",
    "EntryListPath": "",
    "ResultsPath": "/aceserver/results/"
  },
  "Event": {
    "SelectedSessionTypeValue": "GameModeType_RACE_WEEKEND",
    "SelectedWeatherTypeValue": "GameModeSelectionWeatherType_CLEAR",
    "SelectedWeatherBehaviorValue": "GameModeSelectionWeatherBehaviour_DYNAMIC",
    "SelectedInitialGripValue": "InitialGrip_GREEN",
    "SelectedTrackValue": "",
    "Cars": [],
    "ShowOnlySelected": false
  },
  "Sessions": {
    "PracticeSession": {
      "forceTimeDuration": true,
      "TimeMultiplier": 1,
      "IsVisible": true,
      "Name": "Practice",
      "Duration": 0,
      "Length": 0,
      "Hour": 14,
      "Minute": 0,
      "MaxWaitToBox": 40,
      "OvertimeWaitingNextSession": 30,
      "MinWaitingForPlayers": 10,
      "MaxWaitingForPlayers": 30
    },
    "QualifyingSession": {
      "forceTimeDuration": true,
      "TimeMultiplier": 1,
      "IsVisible": false,
      "Name": "Qualify",
      "Duration": 0,
      "Length": 1800,
      "Hour": 16,
      "Minute": 0,
      "MaxWaitToBox": 10,
      "OvertimeWaitingNextSession": 10,
      "MinWaitingForPlayers": 10,
      "MaxWaitingForPlayers": 30
    },
    "WarmupSession": {
      "forceTimeDuration": true,
      "TimeMultiplier": 1,
      "IsVisible": false,
      "Name": "Warmup",
      "Duration": 0,
      "Length": 600,
      "Hour": 16,
      "Minute": 0,
      "MaxWaitToBox": 10,
      "OvertimeWaitingNextSession": 10,
      "MinWaitingForPlayers": 10,
      "MaxWaitingForPlayers": 30
    },
    "RaceSession": {
      "forceTimeDuration": false,
      "TimeMultiplier": 1,
      "IsVisible": false,
      "Name": "Race",
      "Duration": 0,
      "Length": 2400,
      "Hour": 16,
      "Minute": 0,
      "MaxWaitToBox": 10,
      "OvertimeWaitingNextSession": 10,
      "MinWaitingForPlayers": 10,
      "MaxWaitingForPlayers": 30
    }
  }
}
